@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@300;400&display=swap');

:root {
  --raleway: 'Raleway', sans-serif;
  --playfair: 'Playfair Display', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 8px;
  background: #E7E7E7;
}
html::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #D4C17F;
}
body {
  background: #242B33;
}
.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 12px 50px;
  width: 255px;
  height: 50px;
  background: #D4C17F;
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.btn:hover {
  background: none;
  border: 1px solid #D4C17F;
  color: #d4c17f;
}
.title {
  font-family: var(--playfair);
  font-weight: 700;
  font-size: 36px;
  color: #D4C17F;
  margin-bottom: 100px;
}

/* header */
.header {
  background: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 840px;
}
.menu {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  margin: 0 10px;
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.navbar a:hover {
  color: #D4C17F;
}
#menu-btn {
  font-size: 30px;
  color: #D4C17F;
  cursor: pointer;
  display: none;
}

.main {
  text-align: center;
  margin-top: 160px;
}
.main h1 {
  font-family: var(--playfair);
  font-weight: 700;
  font-size: 48px;
  color: #D4C17F;
  margin-bottom: 85px;
}

.header-info {
  margin-top: 150px;
  text-align: center;
}
.header-info span {
  font-family: var(--raleway);
  margin: 0 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.header-info span i {
  margin-right: 18px;
}

/* advantage */
.advantage {
  padding-top: 150px;
  padding-bottom: 60px;
}
.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.box-container .box {
  width: 200px;
}
.box-container .box img {
  margin-bottom: 55px;
}
.box-container .box p {
  font-family: var(--raleway);
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
/* appartments */
.appartments {
  margin-top: 60px;
}

.appartments-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.appartments-box-1 {
  background-image: url('../img/appartment-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 535px;
  height: 320px;
}
.appartments-box-2 {
  background-image: url('../img/appartment-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 535px;
  height: 320px;
}
.appartments-box-3 {
  background-image: url('../img/appartment-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 535px;
  height: 320px;
}
.appartments-box-4 {
  background-image: url('../img/appartment-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 535px;
  height: 320px;
}
.appartments-box {
  position: relative;
}
.appartments-box .text {
  position: absolute;
  top: 250px;
  left: 50px;
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 24px; 
  color: #fff;
}

/* cta */
.cta {
  margin:  70px 0;
  background: url('../img/cta-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 560px;
}
.cta-container {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cta-content {
 width: 535px;
}

.cta-content p {
  font-family: var(--raleway);
  font-weight: 400;
  color: #fff;
  font-size: 16px;
}

.cta-form form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}
.cta-form form input {
  background: #fff;
  opacity: .2;
  text-align: center;
  width: 255px;
  height: 50px;
}
.cta-form form input::placeholder {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 14px;
}
.cta-form form input.name {
  margin-right: 30px;
}
.cta-form .content{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.cta-form .content p {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
}

/* video */
.video {
  display: flex;
  justify-content: center;
  width: 720px;
  height: 650px;
}

/* map */
.map {
  margin-top: 195px;
}

/* contact */
.contact {
  padding: 185px 0 175px 0;
}
.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-content .title {
  margin-bottom: 55px;
}
.contact-content p {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 13px;
  color: #E7E7E7;
  text-align: center;
}
.contact-container form {
  margin-top: 110px;
}
.contact-container form input {
  background: #fff;
  opacity: .2;
  text-align: center;
  width: 255px;
  height: 50px;
}
.contact-containerform input::placeholder {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 14px;
}
.contact-container form input.name,
.contact-container form input.phone {
  margin-right: 30px;
}

/* footer */
footer {
  background-color: #2d343c;
  padding: 65px 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.box-link {
  display: flex;
  flex-direction: column;
  font-family: var(--raleway);
}
.box-link h4 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.box-link a {
  font-family: var(--raleway);
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.box-link a:hover,
.social a:hover {
  color: #d4c17f;
}
.box-content p{
  color: #fff;
  margin: 0 0 15px 0;
}
.box-content p.email span {
  color: #d4c17f;
  font-weight: 700;
}
.social a{
  color: #fff;
  font-size: 28px;
  margin-right: 20px;
}












/* media */

@media(max-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .main {
    margin-top: 70px;
  }
  .main h1 {
    font-size: 40px;
  }
  .box-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: 0 auto;
  }
  .box-container .box {
    text-align: center;
  }
  .appartments-container {
    grid-template-columns: auto;
    justify-content: center;
  }
  .cta-container {
    flex-direction: column;
  }
  .cta-content {
    margin-bottom: 30px;
  }
  .video {
    width: 500px;
    height: 400px;
  }
  .map iframe {
    width: 100%;
    height: 100%;
  }
  .content .btn {
    margin-top: 20px;
  }
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-container form {
    display: flex;
    justify-content: center;
  }
  .contact-container form input {
    width: 200px;
    height: 50px;
  }
  .contact-container form .btn {
    width: 200px;
    height: 50px;
  }
  .footer-container {
    grid-template-columns: repeat(2,1fr);
  }
  .box-link,
  .box-content {
    margin-top: 25px;
  }
  .social {
    margin-top: 15px;
  }
}

@media(max-width: 650px) {
  #menu-btn {
    display: initial;
  }
  .header {
    min-height: 650px;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: -100%;
    background: #b39a41;
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .navbar.active {
    left: 0;
  }
  .navbar a {
    margin: 10px 0;
    font-size: 20px;
  }
  .main h1 {
    font-size: 35px;
  }
  .header-info {
    margin-top: 100px;
  }
  .header-info span {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .advantage {
    padding-top: 75px;

  }
  .box-container  {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .box-container .box {
    margin: 10px 0;
  }
  .box-container .box img {
    margin-bottom: 30px;
  }
  .cta-form form {
    flex-direction: column;
    justify-content: center;
  }
  .cta-form form input.name {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .cta-form .content {
    flex-direction: column;
    justify-content: center;
  }
  .video {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .contact-container form {
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contact-container form input.name,
  .contact-container form input.phone {
    margin-right: 0;
    margin-bottom: 30px;
  }
 
}

@media(max-width: 450px) {
  .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 25px;
 }
  .navbar {
    width: 250px;
  }
  .main {
    margin-top: 50px;
  }
  .main h1 {
    font-size: 30px;
  }
  .header-info {
    margin-top: 50px;
  }
  .appartments-box .text {
    font-size: 20px; 
    margin-left: 50px;
  }

  .cta-content {
    width: 380px;
   } 
   .cta-content p {
    font-size: 14px;
   }
   .footer-container {
     grid-template-columns: 1fr;
   }
}



@media(max-width: 350px) {
  .appartments-box .text {
    font-size: 15px; 
    right: 50px;
  }
  .cta-content {
    width: 300px;
   }
}